<!-- <div class="dashboard-container admin">
  <h1>Admin Page</h1>
  <button (click)="logout()">Logout</button>
</div> -->

<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h4>Add New Product</h4>
    </div>
    <div class="card-body">
      <div class="container">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="pname"
                />
                <div
                  *ngIf="
                    myForm.get('pname')?.invalid && myForm.get('pname')?.touched
                  "
                  class="text-danger"
                >
                  Product Name is required.
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Product Image</label>
                <label for="imageUpload">Upload Image:</label>
                <input
                  type="file"
                  id="imageUpload"
                  class="form-control"
                  accept="image/*"
                  (change)="onFileChange($event)"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Product Brand</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  required
                  formControlName="brand"
                >
                  <option value="" disabled selected>Select...</option>
                  <option value="Lava">Lava</option>
                  <option value="Vivo">Vivo</option>
                  <option value="Samsung">Samsung</option>
                  <option value="Realme">Realme</option>
                  <option value="Redmi">Redmi</option>
                  <option value="OnePlus">OnePlus</option>
                  <option value="OPPO">OPPO</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Product Description</label>
                <div>
                  <textarea
                    id="description"
                    class="form-control"
                    required
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
              <div *ngIf="isSubmit" class="text-light bg-black p-4">
                <p>Product Added Successfully</p>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Product Color</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  formControlName="color"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Product Ram Size </label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  required
                  formControlName="ram"
                >
                  <option value="" disabled selected>Select...</option>
                  <option value="2 GB">2 GB</option>
                  <option value="4 GB">4 GB</option>
                  <option value="6 GB">6 GB</option>
                  <option value="8 GB">8 GB</option>
                  <option value="12 GB">12 GB</option>
                  <option value="16 GB">16 GB</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Product Storage Size</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  required
                  formControlName="disksize"
                >
                  <option value="" disabled selected>Select...</option>
                  <option value="32 GB">32 GB</option>
                  <option value="64 GB">64 GB</option>
                  <option value="128 GB">128 GB</option>
                  <option value="256 GB">256 GB</option>
                  <option value="512 GB">512 GB</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Product Selling Price</label>
                <input
                  type="number"
                  class="form-control"
                  required
                  formControlName="psp"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Product Real Price</label>
                <input
                  type="number"
                  class="form-control"
                  required
                  formControlName="pop"
                />
              </div>
            </div>
            <div class="d-flex justify-content-center align-content-center">
              <button
                type="submit"
                [disabled]="!myForm.valid || !imageUrl"
                class="btn btn-primary"
              >
                Add Product
              </button>
              <!-- <div *ngIf="!myForm.valid">
                <p>Form is invalid</p>
              </div>
              <div *ngIf="!imageUrl">
                <p>Image URL is missing</p>
              </div> -->

              <button
                type="button"
                class="btn btn-primary ms-2"
                (click)="updateCancel()"
              >
                Cancel
              </button>
            </div>
          </div>
          <div
            *ngIf="isAdded"
            class="text-bg-success text-light p-3 border-1 border-success mt-2"
          >
            <p>Product Added Successfully</p>
          </div>
          <div
            *ngIf="isUpdated"
            class="text-bg-success text-light p-1 border-1 border-success mt-2"
          >
            <p>Product Update Successfully</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>All Products</h2>

  <div class="d-flex justify-content-between d-none d-md-block">
    <div class="w-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Search Product with Name/Brand"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="w-auto mt-2">
      <select class="form-select form-select-sm" [(ngModel)]="itemsPerPage">
        <option
          selected
          class="text-primary"
          *ngFor="let count of [15, 10, 5]"
          [value]="count"
        >
          {{ count }}
        </option>
      </select>
    </div>
  </div>

  <div class="container table-responsive">
    <table class="product-table table-bordered">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>Product Name</th>
          <th>Brand</th>
          <th>Description</th>
          <th>Color</th>
          <th>Disk Size</th>
          <th>RAM</th>
          <th>Price</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of products
              | searchProduct : searchText : 'pname' : 'brand'
              | paginate : { itemsPerPage: itemsPerPage, currentPage: page };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ product.pname }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.color }}</td>
          <td>{{ product.disksize }}</td>
          <td>{{ product.ram }}</td>
          <td>{{ product.psp }}</td>
          <td>
            <img
              *ngIf="product.image"
              [src]="product.image"
              alt="Product Image"
              class="product-img"
            />
          </td>
          <td>
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-sm btn-primary"
                (click)="editProduct(product)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn btn-sm btn-danger ms-2"
                (click)="deleteProduct(product.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination d-none d-md-block">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>

  <!-- Mobile-friendly cards for small screens -->
  <div class="product-cards">
    <div *ngFor="let product of products" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.pname }}</h5>
        <p class="card-text"><strong>Brand:</strong> {{ product.brand }}</p>
        <p class="card-text">
          <strong>Description:</strong> {{ product.description }}
        </p>
        <p class="card-text"><strong>Color:</strong> {{ product.color }}</p>
        <p class="card-text">
          <strong>Disk Size:</strong> {{ product.disksize }}
        </p>
        <p class="card-text"><strong>RAM:</strong> {{ product.ram }}</p>
        <p class="card-text"><strong>Price:</strong> {{ product.psp }}</p>
        <img
          *ngIf="product.image"
          [src]="product.image"
          alt="Product Image"
          class="product-img"
        />
        <div class="d-flex justify-content-center">
          <button class="btn btn-sm btn-primary" (click)="editProduct(product)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-sm btn-danger ms-2"
            (click)="deleteProduct(product.id)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
